.student-container {
  background-color: #ffffff;
  color: #000000;
  padding: 20px;
  border-radius: 10px;
  width: 320px;
  margin: 40px auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.student-title {
  text-align: center;
  color: #007bff;
  margin-bottom: 20px;
}

.student-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
}

.student-form input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.student-form button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.student-form button:hover {
  background-color: #0056b3;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 6px 0;
  border-bottom: 1px solid #ddd;
}
.delete-btn {
  margin-left: 10px;
  background-color: #dc3545;
  border: none;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.8rem;
  transition: background-color 0.3s ease;
}

.delete-btn:hover {
  background-color: #a71d2a;
}
